/* 


An example CSS to make Revenue NSW logo to comply and meet with our corporate branding requirements, 
you can apply this as margin/padding as guidelines for your system and file structure. 


Original 
.nsw-header__logo{width:8.8125rem;height:2.875rem}
@media (min-width:48em){.nsw-header__logo{width:10.5rem;height:3.4375rem}} 


*/



.nsw-header__logo{ width:9.9862rem;height:3.5rem; }

@media (min-width:48em){.nsw-header__logo{width:13.5525rem;height:4.75rem;}}

.nsw-navigation__list-item { margin-left: auto;}


