/* 

DEVELOPER'S NOTE (REFERENCE GUIDE ONLY) 
============================================================================
An example of Customised CSS for Revenue NSW, which including:


(1) Enlarge the Revenue NSW logo to meet with DCS Marketing and Branding requirements (approved)

(2) How to show selected radio buttons in print copies 

Please use as guidance when applying them to your system and structures. For any questions, contact Solution Design team at Revenue Digital. 

*/


/* (1) RNSW logo dimension changes 
====================================

Original from DDS 
.nsw-header__logo{width:8.8125rem;height:2.875rem}
@media (min-width:48em){.nsw-header__logo{width:10.5rem;height:3.4375rem}}

*/

.nsw-header__logo {
	width: 9.9862rem!important;
	height: 3.5rem!important;
}

@media (min-width:48em) {
	.nsw-header__logo {
		width: 13.5525rem!important;
		height: 4.75rem!important
	}
}


/* (2) Radio buttons - Display selected item in print (printing the background images) */

@media print {
*{
-webkit-print-color-adjust: exact !important;
color-adjust: exact !important;
}
	
	
