<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Feature Tile</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <script>
    // SVG Sprite Loader
    var svgAjax = new XMLHttpRequest();
    svgAjax.open("GET", "../../assets/svg/sprite.svg", true);
    svgAjax.send();
    svgAjax.onload = function(e) {
      var fragment = document.createRange().createContextualFragment(svgAjax.responseText);
      var svg = fragment.querySelector('svg')
      svg.setAttribute('aria-hidden', true);
      svg.style.cssText = 'position: absolute; width: 0; height: 0; overflow: hidden;'
      document.body.insertBefore(fragment, document.body.childNodes[0]);
    };
    // Replace 'no-js' with 'js' on the html tag
    (function(e){e.className=e.className.replace(/\bno-js\b/,'js')})(document.documentElement);
  </script>
</head>

<body >
  <div class="nsw-container nsw-wysiwyg-content">
  <h2>All tile options</h2>
</div>
<br />
<div class="nsw-container">
  <div class="nsw-feature-tile">
    <h2 class="nsw-feature-tile__title">
      <svg class="nsw-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#arrow"></use>
      </svg>
      <a href="#" class="nsw-feature-tile__title-link">
      Standards
      </a>
    </h2>
    <div class="nsw-body-content">
      <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
    </div>
    <div class="nsw-feature-tile__cards-group">
      <div class="nsw-feature-tile__card">
        <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
        <p class="nsw-feature-tile__card-text">Minimum expectations</p>
      </div>
      <div class="nsw-feature-tile__card">
        <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
        <p class="nsw-feature-tile__card-text">How-top guides</p>
      </div>
      <div class="nsw-feature-tile__card">
        <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
        <p class="nsw-feature-tile__card-text">Project checklist</p>
      </div>
    </div>
    <div class="nsw-feature-tile__links-group">
      <ul>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content basics</span> <sup class="new-text">NEW</sup>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Writing for inclusivity</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Writing style</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content audit</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content structure</span>
          </a></li>
        </ul><ul>
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Finding a tone of voice</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Meta data</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Images and alt text</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Documents and media</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content style guide</span>
          </a></li>
      </ul>
    </div>
    <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
  </div>
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>CTA and Images</h2>
</div>
<br />
<div class="nsw-container">
  <div class="nsw-feature-tile">
    <h2 class="nsw-feature-tile__title">
      <a href="#" class="nsw-feature-tile__title-link">
      Standards
      </a>
    </h2>
    <div class="nsw-body-content">
      <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
    </div>
    <div class="nsw-feature-tile__cards-group">
      <div class="nsw-feature-tile__card">
        <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
        <p class="nsw-feature-tile__card-text">Minimum expectations</p>
      </div>
      <div class="nsw-feature-tile__card">
        <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
        <p class="nsw-feature-tile__card-text">How-top guides</p>
      </div>
      <div class="nsw-feature-tile__card">
        <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
        <p class="nsw-feature-tile__card-text">Project checklist</p>
      </div>
    </div>
    <div class="nsw-feature-tile__links-group">
      <ul>
      </ul>
    </div>
    <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
  </div>
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>Single column list of links (less then 6)</h2>
</div>
<br />
<div class="nsw-container">
  <div class="nsw-feature-tile">
    <h2 class="nsw-feature-tile__title">
      <svg class="nsw-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#arrow"></use>
      </svg>
      Standards
    </h2>
    <div class="nsw-body-content">
      <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
    </div>
    <div class="nsw-feature-tile__cards-group">
    </div>
    <div class="nsw-feature-tile__links-group">
      <ul>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content basics</span> <sup class="new-text">NEW</sup>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Writing for inclusivity</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Writing style</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content audit</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content audit</span>
          </a></li>
      </ul>
    </div>
    
  </div>
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>Two column list of links (6 or more)</h2>
</div>
<br />
<div class="nsw-container">
  <div class="nsw-feature-tile">
    <h2 class="nsw-feature-tile__title">
      <svg class="nsw-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#arrow"></use>
      </svg>
      Standards
    </h2>
    <div class="nsw-body-content">
      <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
    </div>
    <div class="nsw-feature-tile__cards-group">
    </div>
    <div class="nsw-feature-tile__links-group">
      <ul>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content basics</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Writing for inclusivity</span> <sup class="new-text">NEW</sup>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Writing style</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content audit</span>
          </a></li>
        
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Content structure</span>
          </a></li>
        </ul><ul>
        <li>
          <a href="#" class="nsw-feature-tile__link">
            <span class="link-text">Finding a tone of voice</span> <sup class="new-text">NEW</sup>
          </a></li>
      </ul>
    </div>
    
  </div>
</div>

<br />
<div class="nsw-container nsw-wysiwyg-content">
  <h2>Multiple in grid</h2>
</div>
<br />
<div class="nsw-container">
  <div class="nsw-grid">
    <div class="nsw-col nsw-col--half">
      <div class="nsw-feature-tile">
        <h2 class="nsw-feature-tile__title">
          <a href="#" class="nsw-feature-tile__title-link">
          Standards
          </a>
        </h2>
        <div class="nsw-body-content">
          <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
        </div>
        <div class="nsw-feature-tile__cards-group">
          <div class="nsw-feature-tile__card">
            <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
            <p class="nsw-feature-tile__card-text">Minimum expectations</p>
          </div>
          <div class="nsw-feature-tile__card">
            <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
            <p class="nsw-feature-tile__card-text">How-top guides</p>
          </div>
          <div class="nsw-feature-tile__card">
            <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
            <p class="nsw-feature-tile__card-text">Project checklist</p>
          </div>
        </div>
        <div class="nsw-feature-tile__links-group">
          <ul>
          </ul>
        </div>
        <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
      </div>
    </div>
    <div class="nsw-col nsw-col--half">
      <div class="nsw-feature-tile">
        <h2 class="nsw-feature-tile__title">
          <a href="#" class="nsw-feature-tile__title-link">
          Standards
          </a>
        </h2>
        <div class="nsw-body-content">
          <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
        </div>
        <div class="nsw-feature-tile__cards-group">
          <div class="nsw-feature-tile__card">
            <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
            <p class="nsw-feature-tile__card-text">Minimum expectations</p>
          </div>
          <div class="nsw-feature-tile__card">
            <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
            <p class="nsw-feature-tile__card-text">How-top guides</p>
          </div>
          <div class="nsw-feature-tile__card">
            <img src="http://placehold.it/153/97" alt="" class="nsw-feature-tile__card-img" />
            <p class="nsw-feature-tile__card-text">Project checklist</p>
          </div>
        </div>
        <div class="nsw-feature-tile__links-group">
          <ul>
          </ul>
        </div>
        <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
      </div>
    </div>
  </div>
</div>

  <script src="../../js/main.js"></script>
  <script>window.NSW.initSite()</script>
</body>
</html>
